<%= form_with model: @note, url: url do |f| %>
  <%= render "/shared/error_messages", object: f.object %>
  <div class="space-y-3">
    <div>
      <%= f.label :title, class: "label" do %>
        <span class="label-text">
          <%= Note.human_attribute_name(:title) %><span class="text-error">*</span>
        </span>
      <% end %>
      <%= f.text_field :title, autofocus: true, placeholder: t(".placeholder.title"), class: "input input-bordered w-full" %>
    </div>

    <div>
      <%= f.label :body, class: "label" do %>
        <span class="label-text">
          <%= Note.human_attribute_name(:body) %><span class="text-error">*</span>
        </span>
      <% end %>
      <%= f.text_area :body, placeholder: t(".placeholder.body"), rows: "10", class: "textarea textarea-bordered w-full" %>
    </div>

    <%= f.submit nil, class: "btn btn-primary w-full" %>
    <button type="button" onclick="history.back()" class="btn btn-ghoast w-full">キャンセル</button>
  </div>

<% end %>