<div class="container">
  <div class="form-container bg-base-100 rounded-lg shadow-md p-8">

    <div class="flex items-center justify-between">
      <%= link_to travel_book_notes_path(@travel_book), class: "hover:opacity-50" do %>
        <i class="fa-solid fa-chevron-left"></i>
      <% end %>
      <h3 class="flex-grow text-center"><%= @note.title %></h3>
        <div class="justify-end">
        <% if @travel_book.owned_by_user?(current_user) %>
          <%= link_to edit_note_path(@note), class:"hover:opacity-50" do %>
            <i class="fa-solid fa-pen"></i>
          <% end %>
          <%= link_to note_path(@note), data: { turbo_method: :delete, turbo_confirm: t("defaults.delete_confirm") }, class: "ml-5 hover:opacity-50" do %>
            <i class="fa-solid fa-trash"></i>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="mx-10 my-5">
      <%= simple_format(@note.body) %>
    </div>

  </div>
</div>
