<%= form_with model: reminder, url: reminder.new_record? ? list_item_reminders_path(list_item) : reminder_path(reminder) do |f| %>
  <% if reminder.errors.any? %>
  <div>
    <ul>
      <% reminder.errors.each do | error | %>
        <li class="text-red-500"><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div class="flex gap-2">
    <%= f.datetime_field :reminder_date, value: reminder.reminder_date, class: "input input-bordered w-full" %>
    <%= f.submit nil, class: "btn btn-primary" %>
    <% if reminder&.reminder_date %>
      <%= link_to "解除", clear_reminder_reminder_path(reminder), data: { turbo_method: :patch }, class: "btn" %>
    <% end %>
  </div>
<% end %>
