<%= form_with model: @travel_book do |f| %>
  <%= render "shared/error_messages", object: f.object %>

  <div class="field mt-3">
    <%= f.label :title, class: "w-full" do %>
      <span class="text-red-400">*</span><%= TravelBook.human_attribute_name(:title) %>
    <% end %>
    <%= f.text_field :title, autofocus: true, placeholder: t(".placeholder.title"), class: "input input-bordered w-full" %>
  </div>

  <div class="field mt-3">
    <%= f.label :description, TravelBook.human_attribute_name(:description), class: "label" %>
    <%= f.text_area :description, placeholder: t(".placeholder.description"), rows: "1", class: "textarea textarea-bordered w-full" %>
  </div>

  <div class="mt-3 flex flex-col sm:flex-row gap-2">
    <div class="w-full">
      <%= f.label :start_date, TravelBook.human_attribute_name(:start_date), class: "label" %>
      <%= f.datetime_field :start_date, class: "input input-bordered w-full" %>
    </div>
    <div class="w-full">
      <%= f.label :end_date, TravelBook.human_attribute_name(:end_date), class: "label" %>
      <%= f.datetime_field :end_date, class: "input input-bordered w-full" %>
    </div>
  </div>

  <div class="field mt-3">
    <%= f.label :area_id, TravelBook.human_attribute_name(:area), class: "label" %>
    <%= f.collection_select :area_id, Area.all, :id, :name,{ prompt: t("helpers.prompt.select") }, { class: "select select-bordered w-full max-w-xs" } %>
  </div>

  <div class="field mt-3">
    <%= f.label :traveler_type_id, TravelBook.human_attribute_name(:traveler_type), class: "label" %>
    <%= f.collection_select :traveler_type_id, TravelerType.all, :id, :name,{ prompt: t("helpers.prompt.select") }, { class: "select select-bordered w-full max-w-xs" } %>
  </div>

  <div class="field mt-3">
    <%= f.label :travel_book_image, TravelBook.human_attribute_name(:travel_book_image), class: "label" %>
    <%= f.file_field :travel_book_image, accept: "image/*", class: "file-input file-input-bordered w-full max-w-xs" %>
    <%= f.hidden_field :travel_book_image_cache %>
  </div>

  <div class="mt-2 flex flex-row-reverse">
    <% if @travel_book.persisted? && @travel_book.travel_book_image %>
      <%= link_to delete_image_travel_book_path(@travel_book), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
        <i class="fa-solid fa-trash"></i>
      <% end %>
    <% end %>
  </div>

  <div class="field mt-3">
    <%= f.label :is_public, TravelBook.human_attribute_name(:is_public), class: "label" %>
    <div class="flex items-center gap-3">
      <div class="flex items-center gap-1">
        <%= f.radio_button :is_public, true, id: "is_public_true", class: "radio radio-primary" %>
        <%= f.label :is_public_true, t(".is_public.true"), for: "is_public_true" %>
      </div>
      <div class="flex items-center gap-1">
        <%= f.radio_button :is_public, false, id: "is_public_false", class: "radio radio-primary", checked: "checked" %>
        <%= f.label :is_public_false, t(".is_public.false"), for: "is_public_false" %>
      </div>
    </div>
  </div>

  <div class="flex justify-end mt-5">
    <%= f.submit nil, class: "btn btn-primary w-full mt-6 mx-auto" %>
  </div>
<% end %>
