<% travel_books.each do |travel_book| %>
  <%= link_to travel_book_path(travel_book), class: "block" do %>
    <div class="card bg-base-100 w-full">
      <figure>
        <%= image_tag travel_book.travel_book_image_url %>
      </figure>
      <div class="card-body flex flex-col items-center justify-center text-center">
        <h2 class="card-title"><%= travel_book.title %></h2>
        <div class="flex items-center justify-center gap-2">
          <div class="badge">出発</div>
          <p><%= travel_book.start_date %></p>
        </div>
        <div class="flex items-center justify-center gap-2">
          <div class="badge">到着</div>
          <p><%= travel_book.end_date %></p>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
