<div class="container">

  <%= search_form_for @q, url: public_travel_books_path, method: :get do |f| %>
    <%= f.label :area_name_eq, "エリア" %>
    <%= f.select :area_id_eq, options_from_collection_for_select(Area.all, :id, :name, @q.area_id_eq), { include_blank: "選択してください" } %>
    <%= f.label :traveler_type_name_eq, "旅行スタイル" %>
    <%= f.select :traveler_type_id_eq, options_from_collection_for_select(TravelerType.all, :id, :name, @q.traveler_type_id_eq), { include_blank: "選択してください" } %>
    <%= f.submit %>
  <% end %>

  <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
    <%= render partial: "travel_books/travel_book", collection: @travel_books, as: :travel_book %>
  </div>
  <%= paginate @travel_books %>
</div>