<% content_for(:title, t(".title")) %>
<div class="max-w-screen-md mx-auto">
  <div class="bg-base-100 rounded-lg shadow-md p-4 md:p-8 m-3 md:m-5">

    <h2 class="text-lg font-bold text-center"><%= t(".title") %></h2>
    <div class="mt-5">
      <%= turbo_frame_tag "invite-link" do %>
        <% if @invite_link.present? %>
          <%= render template: 'travel_books/invitation' %>
        <% else %>
          <div class="flex justify-center">
            <%= button_to "招待リンクを生成", invitation_travel_book_path(uuid: params[:uuid]), class:"btn btn-primary w-full" %>
          </div>
        <% end %>
      <% end %>
    </div>
    <!-- しおりに招待のフォームを表示 -->
    <div class="mt-5">
      <%= render template: 'devise/invitations/new', locals: { resource: @user, resource_name: @resource_name } %>
    </div>
  </div>
  <div class="bg-base-100 rounded-lg shadow-md p-4 md:p-8 m-3 md:m-5">

    <h2 class="text-lg font-bold text-center">メンバーリスト</h2>

    <table class="table">
      <tbody>
        <% @users.each do |user| %>
          <tr class="border-b last:border-none">
            <td>
              <div class="flex justify-between items-center">
                <div class="flex items-center gap-3">
                  <%= image_tag user.icon_image_url, class: "rounded-full w-10 h-10 object-cover border border-gray-200" %>
                  <%= user.name %>
                </div>
                <% unless user == @travel_book.creator %>
                  <%= link_to delete_owner_travel_book_path(@travel_book.uuid, user_id: user.id), data: { turbo_method: :delete, turbo_confirm: t("defaults.delete_confirm") }, class: "btn" do %>
                    <i class="fa-solid fa-minus"></i>
                  <% end %>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="h-24"></div>
</div>
