<div class="container">
  <div class="form-container">
    <div class="card bg-base-100 shadow-md m-6">
      <figure>
        <%= image_tag(@travel_book.travel_book_image? ? @travel_book.travel_book_image_url : "default_travel_book_image.jpg", class: "travel-book-image") %>
      </figure>

      <div class="card-body">
        <div class="card-actions items-center justify-between">
          <%= link_to (user_signed_in? ? travel_books_path : public_travel_books_path), class: "hover:opacity-50" do %>
            <i class="fa-solid fa-chevron-left"></i>
          <% end %>
          <h3 class="flex-grow text-center"><%= @travel_book.title %></h3>
          <% if @travel_book.owned_by_user?(current_user) %>
            <div class="justify-end">
              <%= link_to edit_travel_book_path(@travel_book), class: "hover:opacity-50" do %>
                <i class="fa-solid fa-pen"></i>
              <% end %>
              <%= link_to travel_book_path(@travel_book), data: { turbo_method: :delete, turbo_confirm: t("defaults.delete_confirm") }, class: "ml-5 hover:opacity-50" do %>
                <i class="fa-solid fa-trash"></i>
              <% end %>
            </div>
          <% end %>
        </div>

        <div class="mt-6">
          <div class="font-bold"><%= TravelBook.human_attribute_name(:description) %></div>
          <%= travel_book_description(@travel_book) %>
        </div>

        <div class="mt-3">
          <div class="font-bold"><%= t(".duration") %></div>
          <div><%= travel_book_duration(@travel_book)%></div>
        </div>

        <div class="mt-3">
          <div class="font-bold"><%= TravelBook.human_attribute_name(:area) %></div>
          <div><%= area_name(@travel_book) %></div>
        </div>

        <div class="mt-3">
          <div class="font-bold"><%= TravelBook.human_attribute_name(:traveler_type) %></div>
          <div><%= traveler_type_name(@travel_book) %></div>
        </div>

        <div class="mt-3">
          <div class="font-bold"><%= TravelBook.human_attribute_name(:is_public) %></div>
          <div><%= travel_book_is_public(@travel_book) %></div>
        </div>

        <% unless @travel_book.owned_by_user?(current_user) %>
          <%= link_to travel_book_schedules_path(@travel_book), class: "btn btn-primary hover:opacity-50" do %>
            スケジュールを見る
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
