<div class="card bg-base-100 shadow-md m-6">
  <figure>
    <%= image_tag(@travel_book.travel_book_image? ? @travel_book.travel_book_image_url : "default_travel_book_image.jpg") %>
  </figure>

  <div class="card-body">
    <div class="card-actions items-center justify-between">
      <h2 class="card-title"><%= @travel_book.title %></h2>
      <div>
        <% if @travel_book.owned_by_user?(current_user) %>
          <div class="justify-end">
            <%= link_to edit_travel_book_path(@travel_book) do %>
              <i class="fa-solid fa-pen"></i>
            <% end %>
            <%= link_to travel_book_path(@travel_book), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "ml-5" do %>
              <i class="fa-solid fa-trash-can"></i>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <p><%= travel_book_desctiption(@travel_book) %></p>

    <div class="mb-6">
      <p>期間</p>
      <p class="text-gray-700"><%= travel_book_duration(@travel_book)%></p>
    </div>

    <div class="mb-6">
      <p>エリア</p>
      <p class="text-gray-700"><%= area_name(@travel_book) %></p>
    </div>

    <div class="mb-6">
      <p>旅行タイプ</p>
      <p class="text-gray-700"><%= traveler_type_name(@travel_book) %></p>
    </div>

    <div class="mb-6">
      <p>公開設定</p>
      <p class="text-gray-700"><%= travel_book_is_public(@travel_book) %></p>
    </div>
  </div>
</div>
