<% content_for(:title, @travel_book.title) %>
<div class="max-w-screen-md mx-auto">
  <% if @travel_book.owned_by_user?(current_user) %>
    <div class="flex justify-between mt-2 mx-3 md:mx-5">
      <%= link_to public_travel_books_path, class: "text-sm underline hover:opacity-50" do %>
        <i class="fa-solid fa-chevron-left"></i> しおり検索へ
      <% end %>
      <%= link_to travel_books_path, class: "text-sm underline hover:opacity-50" do %>
        マイしおりへ <i class="fa-solid fa-chevron-right"></i>
      <% end %>
    </div>
  <% end %>
  <div class="card bg-base-100 shadow-md mt-2 mx-3 md:mx-5">
    <figure>
      <%= image_tag @travel_book.travel_book_image_url %>
    </figure>

    <div class="card-body">
      <div class="flex items-center justify-between gap-3">
        <div>
          <p class="font-bold text-sm"><%= TravelBook.human_attribute_name(:title) %></p>
          <h2 class="text-lg font-bold"><%= @travel_book.title %></h2>
        </div>
        <% if @travel_book.owned_by_user?(current_user) %>
          <div class="flex justify-end">
            <%= link_to edit_travel_book_path(@travel_book.uuid), class: "hover:opacity-50" do %>
              <i class="fa-solid fa-pen text-sm md:text-base"></i>
            <% end %>
            <%= link_to travel_book_path(@travel_book.uuid), data: { turbo_method: :delete, turbo_confirm: t("defaults.delete_confirm") }, class: "ml-5 hover:opacity-50" do %>
              <i class="fa-solid fa-trash text-sm md:text-base"></i>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="space-y-3">
        <div>
          <p class="font-bold text-sm"><%= TravelBook.human_attribute_name(:description) %></p>
          <p><%= travel_book_description(@travel_book) %></p>
        </div>

        <% if @travel_book.owned_by_user?(current_user) %>
        <div>
          <p class="font-bold text-sm"><%= t(".duration") %></p>
          <p><%= travel_book_duration(@travel_book)%></p>
        </div>
        <% end %>

        <div>
          <p class="font-bold text-sm"><%= TravelBook.human_attribute_name(:area) %></p>
          <p><%= area_name(@travel_book) %></p>
        </div>

        <div>
          <p class="font-bold text-sm"><%= TravelBook.human_attribute_name(:traveler_type) %></p>
          <p><%= traveler_type_name(@travel_book) %></p>
        </div>

        <div>
          <p class="font-bold text-sm"><%= TravelBook.human_attribute_name(:is_public) %></p>
          <p><%= travel_book_is_public(@travel_book) %></p>
        </div>

        <div>
          <p class="font-bold text-sm"><%= t(".total_amount") %></p>
          <p><%= total_budget(@travel_book.schedules) %><%= t("helpers.currency_unit") %></p>
        </div>

        <% unless @travel_book.owned_by_user?(current_user) %>
          <%= link_to travel_book_schedules_path(@travel_book.uuid), class: "btn btn-primary w-full" do %>
            <i class="fa-regular fa-clock"></i> スケジュールを見る
          <% end %>
        <% else %>
          <%= link_to share_travel_book_path(@travel_book.uuid), class: "btn btn-primary w-full" do %>
            <i class="fa-solid fa-users"></i> しおりのメンバーリスト・しおりに招待
          <% end %>
        <% end %>

        <% if @travel_book.is_public %>
          <% prepare_meta_tags(@travel_book) %>
          <% twitter_share_url = "https://twitter.com/intent/tweet?url= #{CGI.escape(travel_book_url(@travel_book.uuid))}" %>
          <%= link_to twitter_share_url, target: "_blank", data: { toggle: "tooltip", placement: "bottom" }, title: "Xでシェア", class: "btn w-full" do %>
            <i class="fa-brands fa-square-x-twitter text-lg"></i> Xに投稿
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="h-24"></div>
</div>
