<% content_for(:title, t(".title")) %>
<div class="max-w-screen-md mx-auto">
  <div class="bg-base-100 rounded-lg shadow-md p-4 md:p-8 m-3 md:m-5">

    <%= image_tag current_user.icon_image_url, class: "mx-auto rounded-full w-20 h-20 shadow-sm object-cover border border-gray-200" %>

    <h2 class="mt-2 text-center text-lg font-bold"><%= @user.name %></h2>

    <div class="mt-5 text-center">
      <p><i class="fa-solid fa-envelope mr-1"></i><%= User.human_attribute_name(:email) %></p>
      <p><%= @user.email %></p>
    </div>

    <% unless @user.uid %>
      <div class="mt-5 flex justify-center">
        <button class="btn text-white bg-[#06C755] hover:bg-[#06C755] hover:opacity-50" onclick="link_line_modal.showModal()">LINEアカウント連携</button>
      </div>
      <dialog id="link_line_modal" class="modal">
        <div class="modal-box">
          <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
          </form>
          <h3 class="text-center text-lg font-bold">LINEアカウント連携用トークン</h3>
          <div class="space-y-2 m-5 text-center">
            <p>以下の文字列をたびくりっぷの公式LINEに送信すると、LINEアカウントと連携されます</p>
            <div class="flex flex-col md:flex-row items-center justify-center gap-2">
              <input type="text" value="<%= @user.token %>" readonly class="input input-bordered w-full max-w-xs">
              <%= button_tag "コピー", data: { controller: "clipboard", action: "clipboard#copy", clipboard_content_value: @user.token }, class: "btn btn-primary w-full md:w-auto max-w-xs" %>
            </div>
          </div>
        </div>
      </dialog>
    <% end %>

    <div class="mt-5">
      <%= link_to t(".profile_button"), edit_user_registration_path, class: "btn btn-primary w-full" %>
    </div>
  </div>
</div>
