<div class="container">
  <div class="form-container bg-base-100 rounded-lg shadow-md p-8">
    <div class="flex items-center justify-between">
      <%= link_to travel_book_path(@travel_book), class: "hover:opacity-50" do %>
        <i class="fa-solid fa-chevron-left"></i>
      <% end %>
      <div class="flex flex-grow flex-col items-center">
        <h3><%= @travel_book.title %></h3>
        <p><%= travel_book_duration(@travel_book) %></p>
      </div>
    </div>

    <% if @schedules.present? %>
      <div role="tablist" class="tabs tabs-bordered">
        <!-- Tab for allday -->
        <input type="radio" name="my_tabs_1" role="tab" class="tab" aria-label="ALL" checked="checked" />
        <div role="tabpanel" class="tab-content p-10">
          <% @schedules.each do |schedule| %>
            <%= render partial: "schedule", locals: { schedule: schedule, all_day: true } %>
          <% end %>
          <p class="text-right my-5"><%= t("helpers.total_amount", amount: total_budget(@schedules)) %><%= t("helpers.currency_unit") %></p>
        </div>

        <!-- Tab for each date -->
        <% Schedule.group_by_date(@schedules).each do |date, schedules| %>
          <input type="radio" name="my_tabs_1" role="tab" class="tab" aria-label="<%= fmt_date_with_day(date) %>" />
          <div role="tabpanel" class="tab-content p-10">
            <% schedules.each do |schedule| %>
              <%= render partial: "schedule", locals: { schedule: schedule } %>
            <% end %>
            <p class="text-right my-5"><%= t("helpers.total_amount", amount: total_budget(schedules)) %><%= t("helpers.currency_unit") %></p>
          </div>
        <% end %>
      </div>

    <% else %>
      <% if @travel_book.owned_by_user?(current_user) %>
        <p class="text-center my-10"><%= t(".no_data") %></p>
      <% else %>
        <p class="text-center my-10"><%= t(".no_creator_no_data") %></p>
      <% end %>
    <% end %>

    <% if @travel_book.owned_by_user?(current_user) %>
      <%= link_to new_travel_book_schedule_path(@travel_book), class: "btn btn-primary fixed z-50 bottom-20 right-5 rounded-full cursor-pointer" do %>
        <%= t(".new_button") %>
      <% end %>
    <% end %>
  </div>
</div>
