<div class="bg-white rounded-lg shadow-md p-6 m-6">
  <div class="flex flex-col items-center">

    <h1 class="mt-2 text-center text-lg font-bold"><%= @travel_book.title %></h1>

    <div class="mt-5 flex gap-2">
      <p><%= travel_book_duration(@travel_book)%></p>
    </div>

  </div>

 <% if @schedules.present? %>
    <% @schedules.group_by { |schedule| schedule.start_date.to_date }.each do |date, schedules| %>
      <p class="mt-5 mb-2"><%= fmt_date(date) %></p>
      <div class="divide-y divide-blue-400">
      <% schedules.each do |schedule| %>
        <%= render partial: "schedule", locals: { schedule: schedule } %>
      <% end %>
      </div>
    <% end %>

    <p class="text-right">合計金額：<%= sum_budgets(@schedules) %>円</p>

  <% else %>
    <%= link_to new_travel_book_schedule_path	do %>
      スケジュールを登録のリンク
    <% end %>
  <% end %>

  <%= link_to new_travel_book_schedule_path(@travel_book), class: "btn btn-primary fixed z-50 bottom-20 right-5 rounded-full cursor-pointer" do %>
    追加
  <% end %>
</div>