<% content_for(:title, t(".title")) %>
<div class="max-w-screen-md mx-auto">
  <div class="bg-base-100 rounded-lg shadow-md p-4 md:p-8 m-3 md:m-5">

    <div class="flex items-center justify-between">
      <h2 class="text-lg font-bold ml-5"><%= @schedule.title %></h2>
      <div class="flex justify-end">
        <% if @travel_book.owned_by_user?(current_user) %>
          <%= link_to edit_schedule_path(@schedule.uuid), data: { turbo: false }, class: "hover:opacity-50" do %>
            <i class="fa-solid fa-pen text-sm md:text-base"></i>
          <% end %>
          <%= link_to schedule_path(@schedule.uuid), data: { turbo_method: :delete, turbo_confirm: t("defaults.delete_confirm") }, class: "ml-5 hover:opacity-50" do %>
            <i class="fa-solid fa-trash text-sm md:text-base"></i>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="my-10">
      <ul class="fa-ul space-y-5">
        <li><span class="fa-li"><i class="fa-regular fa-clock"></i></span><%= fmt_datetime_range(@schedule, :default) %></li>
        <li><span class="fa-li"><i class="fa-solid fa-location-dot"></i></span><%= schedule_spot_info(@schedule.spot) %></li>
        <li><span class="fa-li"><i class="fa-solid fa-wallet"></i></span><%= @schedule.budged %><%= t("helpers.currency_unit") %></li>
        <li>
          <span class="fa-li"><i class="fa-solid fa-file-pen"></i></span>
          <% if @schedule.memo.blank? %>
            <%= t("schedules.helpers.no_memo") %>
          <% else %>
            <div class="markdown-content"><%= markdown(@schedule.memo) %></div>
          <% end %>
        </li>
      </ul>
    </div>

    <% if @schedule.schedule_image_url.present? %>
      <%= image_tag @schedule.schedule_image_url, class: "max-h-96 mx-auto md:mx-0" %>
    <% end %>
  </div>
  <div class="h-24"></div>
</div>
