<div class="btm-nav bg-base-100 shadow-sm">
  <%= link_to travel_book_path(@travel_book.id), class: "#{add_active_class(travel_book_path(@travel_book))}" do %>
    <i class="fa-regular fa-map"></i>
    <span class="btm-nav-label"><%= t("btm_nav.travel_book_info") %></span>
  <% end %>
  <%= link_to travel_book_schedules_path(@travel_book), class: "#{add_active_class(travel_book_schedules_path(@travel_book))}" do %>
    <i class="fa-regular fa-clock"></i>
    <span class="btm-nav-label"><%= t("btm_nav.schedule") %></span>
  <% end %>
  <%= link_to "#", class: "opacity-50" do %>
  <i class="fa-solid fa-location-dot"></i>
    <span class="btm-nav-label"><%= t("btm_nav.map") %></span>
  <% end %>
  <%= link_to travel_book_check_lists_path(@travel_book), class: "#{add_active_class(travel_book_check_lists_path(@travel_book))}" do %>
    <i class="fa-solid fa-file-pen"></i>
    <span class="btm-nav-label"><%= t("btm_nav.note") %></span>
  <% end %>
  <%= link_to "#", class: "opacity-50" do %>
    <i class="fa-solid fa-image"></i>
    <span class="btm-nav-label"><%= t("btm_nav.album") %></span>
  <% end %>
</div>
