<div class="navbar bg-base-100 shadow-sm">
  <div class="flex-1 px-2 lg:flex-none">
    <%= link_to (user_signed_in? ? travel_books_path : home_index_path), class: "text-lg font-bold hover:opacity-50" do %>
        TabiClip
    <% end %>
  </div>
  <div class="flex flex-1 justify-end px-2">
    <div class="flex items-stretch">
      <% if user_signed_in? %>
            <div class="dropdown dropdown-end">
        <div class="flex-none">
          <button>
            <%= image_tag(current_user.icon_image? ? current_user.icon_image_url : "default_icon.png",
                class: "mx-auto rounded-full w-10 h-10 mr-2 object-cover shadow-sm border border-base-500 hover:opacity-50") %>
          </button>
        </div>
        <ul
          tabindex="0"
          class="menu dropdown-content bg-base-100 rounded-box z-[1] mt-4 w-52 p-2">
            <li>
              <%= link_to "#{current_user.name}", users_profile_path %>
            </li>
            <li>
              <%= link_to t("header.how_to_use"), "#" %>
            </li>
            <li>
              <%= link_to t("header.logout"), destroy_user_session_path, data: { turbo_method: :delete } %>
            </li>
        </ul>
      </div>
      <% else %>
        <%= link_to "ログイン", new_user_session_path, class: "btn btn-ghoast" %>
      <% end %>
    </div>
  </div>
</div>
