<div class="max-w-screen-md mx-auto">
  <div class="bg-base-100 rounded-lg shadow-md p-4 md:p-8 m-3 md:m-5">

    <div class="flex items-center justify-between">
      <h2 class="md:text-lg font-bold md:ml-5"><%= @check_list.title %></h2>
      <div class="flex justify-end">
        <% if @travel_book.owned_by_user?(current_user) %>
          <%= link_to edit_check_list_path(@check_list.uuid), class:"hover:opacity-50" do %>
            <i class="fa-solid fa-pen text-sm md:text-base"></i>
          <% end %>
          <%= link_to check_list_path(@check_list.uuid), data: { turbo_method: :delete, turbo_confirm: t("defaults.delete_confirm") }, class: "ml-5 hover:opacity-50" do %>
            <i class="fa-solid fa-trash text-sm md:text-base"></i>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="md:m-10">
      <%= turbo_frame_tag "list_item" do %>
        <% if @list_items.present? %>
          <% @list_items.each do |list_item| %>
            <%= render "list_items/list_item", list_item: list_item %>
          <% end %>
        <% else %>
          <div><%= t(".no_data") %></div>
        <% end %>
      <% end %>

      <div id="add_list_item_button" class="my-5">
        <%= render "list_items/add_button", check_list: @check_list %>
      </div>
      <div id="list_item_form" class="my-5"></div>
    </div>

    <div role="alert" class="alert alert-vertical sm:alert-horizontal">
      <i class="fa-solid fa-circle-info text-primary"></i>
      <span>LINEの友だち追加をすると指定した時間にLINEでリマインド通知を受け取れます</span>
      <div>
        <div class="line-it-button" data-lang="ja" data-type="friend" data-env="REAL" data-lineId="@450oywta" style="display: none;"></div>
        <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
      </div>
    </div>
  </div>
</div>
