<div class="max-w-screen-md mx-auto">
  <div class="bg-base-100 rounded-lg shadow-md p-4 md:p-8 m-3 md:m-5">
    <h2 class="text-lg font-bold text-center">しおりに招待する</h2>

    <%= form_for(@user, as: resource_name, url: invitation_path(resource_name), html: { method: :post }) do |f| %>

      <%= render "shared/error_messages", object: resource %>

      <% resource.class.invite_key_fields.each do |field| -%>
        <div class="field mt-3">
          <div class="flex items-center gap-1">
            <%= f.label :email, class: "label" %>
            <i class="fa-solid fa-envelope"></i>
          </div>
          <%= f.email_field field, autocomplete: "email", placeholder: "xxx@example.com", class: "input input-bordered w-full" %>

          <%= f.hidden_field :travel_book_uuid, value: params[:travel_book_uuid] || travel_book_uuid %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit t("devise.invitations.new.submit_button"), class: "btn btn-primary w-full" %>
      </div>
    <% end %>
  </div>
</div>