<% content_for(:title, t(".title")) %>
<div class="max-w-screen-md mx-auto">
  <div class="bg-base-100 rounded-lg shadow-md p-4 md:p-8 m-3 md:m-5">
    <h2 class="text-lg font-bold text-center"><%= t(".title") %></h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="space-y-3">
        <div>
          <%= f.label :password, class: "label" do %>
            <span class="label-text">
              <i class="fa-solid fa-key"></i><%= User.human_attribute_name(:password) %><span class="text-error">*</span>
            </span>
          <% end %>
          <%= f.password_field :password, autofocus: true, autocomplete: "new-password", placeholder: t("users.form.placeholder.password"), class: "input input-bordered w-full" %>
        </div>

        <div>
          <%= f.label :password_confirmation, class: "label" do %>
            <span class="label-text">
              <i class="fa-solid fa-key"></i><%= User.human_attribute_name(:password_confirmation) %><span class="text-error">*</span>
            </span>
          <% end %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input input-bordered w-full" %>
        </div>

        <div class="actions">
          <%= f.submit t(".change_password"), class: "btn btn-primary w-full" %>
        </div>
      </div>
    <% end %>
  </div>
</div>