<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Myapp" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://kit.fontawesome.com/db3944d085.js" crossorigin="anonymous"></script>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <script async
      src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&loading=async&libraries=places,marker">
    </script>
  </head>

  <body class="bg-base-200 min-h-screen">
    <%= render "shared/header" %>
    <div id="flash_messages"></div>
    <%= render "shared/flash_message" %>
    <%= yield %>
    <% if user_signed_in? && display_bottom_nav_on_travel_book %>
      <%= render "shared/bottom_navigation_on_travel_book", travel_book: @travel_book %>
    <% elsif controller_name != "home" %>
      <%= render "shared/bottom_navigation" %>
    <% end %>
  </body>
</html>
